
<h1>Edytowanie rośiny</h1>
 <%= form_for :plant, url: plant_path(@plant), method: :patch do |f| %>
   
   <p>
    <%= f.label "Nazwa" %><br>
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label "Nazwa łacińska" %><br>
    <%= f.text_field :latin %>
  </p>
  <p>
    <%= f.label "Rodzina" %><br>
    <%= f.text_area :family %>
  </p>
   <p>
    <%= f.label "Uprawa" %><br>
    <%= f.text_area :condition %>
  </p>
  <p>
      <%= f.label "Dodaj zdjęcie" %><br>
      <%= f.file_field :foto %>
  </p>
   <p>
    <%= f.submit %>
  </p>
   <% end %>
 <%= link_to 'Powrót', plants_path %>
 