<div class="jumbotron">
    <p>
            <%= image_tag @plant.foto, class: "zdjecie" %>
    </p>
    <h1><%= @plant.name %></h1>

    <h3><em><%= @plant.latin %></em></h3>

  
      <div class="row marketing">
        <div class="col-lg-6">
          <h4>Rodzina: <%= @plant.family %></h4>
  
        <p></p>
        <p>
          <h4>Uprawa:</h4>
          <%= @plant.condition %>
        </p>
        </div>
      </div>

    <%= link_to 'Powrót', plants_path %>
</div>